@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    border: 2px solid black;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;

}

.cabecalho-menu-item {
    font-family: 'Sarala';
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #ffe2ff ;
    margin-bottom: 48px;
    
    
    
}

.div-h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
}

h2 { 
    text-align: center;
    color: #ffe2ff
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px 10px;
    height: 200px;
}

.conteudo-principal-div {
    padding: 0px 5px;
    
}

h3 {
    text-align: left;
    font-size: 13px;
    position: relative;
    bottom: 50px;
    border: 1px solid white;
    font-family: 'Sarala';
    color: #FFF2E7;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}

img {
    width: 100px;
    height: 200px;
    object-fit: contain;
  }